.home-container {
  padding-left: 20.5rem;
  margin-bottom: 3rem;
}
.task-bar-header {
  font-size: 30px;
  margin-left: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 5rem;
}
.today-taskbar {
  font-size: 25px;
  margin-top: 1rem;
  font-weight: 400;
}
.today-taskbar h5 {
  font-size: 20px;
  font-weight: 300;
}
.upcoming-taskbar {
  font-size: 25px;
  margin-top: 5rem;
  font-weight: 400;
}
.upcoming-details h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  color: #201e1e;
}
.upcoming-details h4 {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 2rem;
  font-weight: 400;
  color: #201e1e;
}
.task-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  width: 56rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-title h1 {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 700;
}
.task-description h1 {
  color: rgb(26, 26, 26);
  font-size: 1rem;
  font-weight: 400;
}

.task-time p {
  font-size: 1rem;
  font-weight: 400;
  cursor: text;
}

.task-col-left {
  display: flex;
}

.checker {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem 0 0;
  border-radius: 30px;
  border: 2px solid black;
  outline: none;
}

.delete-task {
  color: red;
  background-color: white;
}

.done {
  text-decoration: line-through;
  color: #777;
}

.done h1 {
    color: #777;
}

.done .checker {
    background-color: #777;
}

.delete-task {
  outline: none;
  border:none;
  padding: 0.5rem;
  background-color: inherit;
  color: red;
  cursor: pointer;
}

.delete-task:hover {
  transform: scale(0.9);
}

.black-text {
  color: black;
}

.react-confirm-alert-overlay {
  background: rgba(0,0,0,0.5);
}
.react-confirm-alert {
  background: white;
  width: 80%;
  padding: 1em;
}
.add-dialog h3 {
  margin: 0;
}
.add-dialog-buttons {
  float: right;
}
.add-dialog-buttons button+button {
  margin-left: 0.5em;
}