.nav-wrapper {
  background-color: #1c202b;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-container {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .right-col {
  display: flex;
  align-items: center;
}

.setting , .notification{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-top: 4px;
}
.search-box-container {
  padding-left: 1rem;
}
.search-box {
  height: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border-style: none;
  height: 28px;
  width: 15rem;
}
.search-bar {
  padding-left: .5rem;
  height: 28px;
  width: 12rem;
  outline: none;
  border: none;
  font-size: 14px;
  display: inline;
}
.search-icon{
  font-size: .8rem;
  margin-top: auto;
  display: inline;
  margin-left: 8px;
}

.li-wrapper {
  display: inline;
  margin-left: 1rem;
  color: rgb(145, 146, 146);
}

.menu-icon {
  list-style: none;
  font-size: 2rem;
  margin-left: 0rem;
  color: white;
  padding-top: 0.3rem;
}

.left-icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 0.8rem;
  position: absolute;
}

.user-img-small {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
